<div class="page-header">
  <%= link_to new_match_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Match
  <% end %>
  <h1>Listing matches</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Match datetime</th>
            <th>Match loc name</th>
            <th>Match note</th>
            <th>Match opp</th>
            <th>Match outcome</th>
            <th>Match score</th>
            <th>Match loc address</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @matches) do |match| %>
            <td><%= match.match_datetime %></td>
            <td><%= match.match_loc_name %></td>
            <td><%= match.match_note %></td>
            <td><%= match.match_opp %></td>
            <td><%= match.match_outcome %></td>
            <td><%= match.match_score %></td>
            <td><%= match.match_loc_address %></td>
            <td><%= match.created_at %></td>
            <td><%= match.updated_at %></td>
            <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
