<div class="page-header">
  <%= link_to matches_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_match_path(@match), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show match</h1>
</div>

<dl class="dl-horizontal">
  <dt>Match datetime:</dt>
  <dd><%= @match.match_datetime %></dd>

  <dt>Match loc name:</dt>
  <dd><%= @match.match_loc_name %></dd>

  <dt>Match note:</dt>
  <dd><%= @match.match_note %></dd>

  <dt>Match opp:</dt>
  <dd><%= @match.match_opp %></dd>

  <dt>Match outcome:</dt>
  <dd><%= @match.match_outcome %></dd>

  <dt>Match score:</dt>
  <dd><%= @match.match_score %></dd>

  <dt>Match loc address:</dt>
  <dd><%= @match.match_loc_address %></dd>

  <dt>Created at:</dt>
  <dd><%= @match.created_at %></dd>

  <dt>Updated at:</dt>
  <dd><%= @match.updated_at %></dd>

</dl>
