<%= form_for(@player, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @player.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h4>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :photo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :photo, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Group", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :team_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:role, options_for_select([["Player", "Player"], ["Captain", "Captain"]]), class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Sex", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:gender, options_for_select([["Female", "Female"], ["Male", "Male"]]), {include_blank: true}, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :age_category, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.select(:age_category, options_for_select([["Adult", "Adult"], ["Senior", "Senior"], ["Under 18", "Under 18"]]), class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :skill_level, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :skill_level, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Phone", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone_num, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Day: 1st Preference", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:day_pref1, options_for_select([["Mon", "Mon"], ["Tue", "Tue"], ["Wed", "Wed"], ["Thu", "Thu"], ["Fri", "Fri"], ["Sat", "Sat"], ["Sun", "Sun"], ["Anyday", "Anyday"]]), {include_blank: true}, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Time: 1st Preference", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:time_pref1, options_for_select([["Morning", "Morning"], ["Midday", "Midday"], ["Afternoon", "Afternoon"], ["Anytime", "Anytime"]]), {include_blank: true}, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Day: 2nd Preference", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:day_pref2, options_for_select([["Mon", "Mon"], ["Tue", "Tue"], ["Wed", "Wed"], ["Thu", "Thu"], ["Fri", "Fri"], ["Sat", "Sat"], ["Sun", "Sun"], ["Anyday", "Anyday"]]), {include_blank: true}, class: "form-control") %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label "Time: 2nd Preference", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:time_pref2, options_for_select([["Morning", "Morning"], ["Midday", "Midday"], ["Afternoon", "Afternoon"], ["Anytime", "Anytime"]]), {include_blank: true}, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <!-- <%= f.label :created_at, class: "col-sm-2 control-label" %> -->
    <div class="col-sm-10">
      <%= f.hidden_field :created_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <!-- <%= f.label :updated_at, class: "col-sm-2 control-label" %> -->
    <div class="col-sm-10">
      <%= f.hidden_field :updated_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>