<div class="page-header">
  <%= link_to matches_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_match_path(@match), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Match Details:</h1>
</div>

<dl class="dl-horizontal">
  <dt>Date:</dt>
  <dd><%= @match.match_datetime %></dd>

  <dt>Location Name:</dt>
  <dd><%= @match.match_loc_name %></dd>

  <dt>Notes:</dt>
  <dd><%= @match.match_note %></dd>

  <dt>Opponent:</dt>
  <dd><%= @match.match_opp %></dd>

  <dt>Win/Loss?:</dt>
  <dd><%= @match.match_outcome %></dd>

  <dt>Score:</dt>
  <dd><%= @match.match_score %></dd>

  <dt>Match loc address:</dt>
  <dd><%= @match.match_loc_address %></dd>

  <dt>Created:</dt>
  <dd><%= @match.created_at %></dd>

  <dt>Last Modified:</dt>
  <dd><%= @match.updated_at %></dd>

</dl>
