<div class="page-header">
  <%= link_to new_player_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Player
  <% end %>
  <h1>HP Players List</h1>
</div>

<div class="table-responsive">
  <table class="table-hover">
    <thead>
      <tr>
            <th>Photo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Team(s)</th>
            <th>Level</th>
            <th>Win/Loss</th>
            <th>Phone</th>
            <th>Email</th>
            <th>P1 Day</th>
            <th>P1 Time</th>
            <th>P2 Day</th>
            <th>P2 Time</th>

            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @players) do |player| %>
            <td><%= player.photo %></td>
            <td><%= player.first_name %></td>
            <td><%= player.last_name %></td>
            <td><%= player.team_name %></td>
            <td><%= player.skill_level %></td>
            <td><%= player.record_ind %></td>
            <td><%= player.phone_num %></td>
            <td><%= player.email %></td>
            <td><%= player.day_pref1 %></td>
            <td><%= player.time_pref1 %></td>
            <td><%= player.day_pref2 %></td>
            <td><%= player.time_pref2 %></td>
            <td><%= link_to 'Detail', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure? Deletes cannot be undone.' } %></td>
      <% end %>
    </tbody>
  </table>

<h4>Import Players</h4>
<%= form_tag import_players_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

</div>





