<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @player.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @player.password %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @player.photo %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @player.team_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @player.role %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>

<p>
  <strong>Age category:</strong>
  <%= @player.age_category %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @player.skill_level %>
</p>

<p>
  <strong>Record ind:</strong>
  <%= @player.record_ind %>
</p>

<p>
  <strong>Record team:</strong>
  <%= @player.record_team %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @player.phone_num %>
</p>

<p>
  <strong>Phone type:</strong>
  <%= @player.phone_type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Day pref1:</strong>
  <%= @player.day_pref1 %>
</p>

<p>
  <strong>Time pref1:</strong>
  <%= @player.time_pref1 %>
</p>

<p>
  <strong>Day pref2:</strong>
  <%= @player.day_pref2 %>
</p>

<p>
  <strong>Time pref2:</strong>
  <%= @player.time_pref2 %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @player.password_digest %>
</p>

<p>
  <strong>Remember token:</strong>
  <%= @player.remember_token %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @player.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @player.updated_at %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
