<div class="page-header">
  <%= link_to players_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_player_path(@player), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show player</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @player.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @player.last_name %></dd>

  <dt>User name:</dt>
  <dd><%= @player.user_name %></dd>

  <dt>Password:</dt>
  <dd><%= @player.password %></dd>

  <dt>Photo:</dt>
  <dd><%= @player.photo %></dd>

  <dt>Team name:</dt>
  <dd><%= @player.team_name %></dd>

  <dt>Role:</dt>
  <dd><%= @player.role %></dd>

  <dt>Gender:</dt>
  <dd><%= @player.gender %></dd>

  <dt>Age category:</dt>
  <dd><%= @player.age_category %></dd>

  <dt>Skill level:</dt>
  <dd><%= @player.skill_level %></dd>

  <dt>Record ind:</dt>
  <dd><%= @player.record_ind %></dd>

  <dt>Record team:</dt>
  <dd><%= @player.record_team %></dd>

  <dt>Phone num:</dt>
  <dd><%= @player.phone_num %></dd>

  <dt>Email:</dt>
  <dd><%= @player.email %></dd>

  <dt>Day pref1:</dt>
  <dd><%= @player.day_pref1 %></dd>

  <dt>Time pref1:</dt>
  <dd><%= @player.time_pref1 %></dd>

  <dt>Time pref2:</dt>
  <dd><%= @player.time_pref2 %></dd>

  <dt>Remember token:</dt>
  <dd><%= @player.remember_token %></dd>

  <dt>Created at:</dt>
  <dd><%= @player.created_at %></dd>

  <dt>Updated at:</dt>
  <dd><%= @player.updated_at %></dd>

</dl>
