<div class="page-header">
  <%= link_to new_player_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Player
  <% end %>
  <h3>Request Match</h3>
</div>

<div class="table-responsive">
  <table class="table-hover">
    <thead>
      <tr>
            <th></th>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>1st Pref</th>
            <th>2nd Pref</th>
            <!-- <th>Contact</th> -->
            <th>Phone</th>
            <th>Email</th>
            <th>Text</th>
            <th>Text</th>
            <th>Level</th>
            <th>Team(s)</th>
            <th>Win/Loss</th>

            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @players) do |player| %>
            <td><%= link_to 'Detail', player %></td>
            <td><%= image_tag player.photo, :class => 'thumbs' %></td>
            <td><%= player.first_name %></td>
            <td><%= player.last_name %></td>
            <td><%= player.day_pref1 %> (<%= player.time_pref1 %>)</td>
            <td><%= player.day_pref2 %> (<%= player.time_pref2 %>)</td>


            <td><select><option value="tel:<%= player.phone_num">Call</option><option value="mailto:<%=player.email%>?subject=Do you want to play tennis on <%=player.day_pref1%> (<%=player.time_pref1%>) or <%=player.day_pref2%> (<%=player.time_pref2%>)?">Email</option><option value="sms:/ <%= player.phone_num %> /&body=Do you want to play tennis on <%=player.day_pref1%> (<%=player.time_pref1%>) or <%=player.day_pref2%> (<%=player.time_pref2%>)?">iPhone</option><option value="sms:/ <%= player.phone_num %> /?body=Do you want to play tennis on <%=player.day_pref1%> (<%=player.time_pref1%>) or <%=player.day_pref2%> (<%=player.time_pref2%>)?">Android</option></select></td>


            <td><a href="tel:<%= player.phone_num %>">Call</a></td>
            <td><a href="mailto:<%=player.email%>?subject=Do you want to play tennis on <%=player.day_pref1%> (<%=player.time_pref1%>) or <%=player.day_pref2%> (<%=player.time_pref2%>)?">Email</a></td>
            <td><a href="sms:/ <%= player.phone_num %> /&body=Do you want to play tennis on <%=player.day_pref1%> (<%=player.time_pref1%>) or <%=player.day_pref2%> (<%=player.time_pref2%>)? ">iPhone</a></td>
            <td><a href="sms:/ <%= player.phone_num %> /?body=Do you want to play tennis on <%=player.day_pref1%> (<%=player.time_pref1%>) or <%=player.day_pref2%> (<%=player.time_pref2%>)? ">Android</a></td>
            <td><%= player.skill_level %></td>
            <td><%= player.team_name %></td>
            <td><%= player.record_ind %></td>

            <!-- <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure? Deletes cannot be undone.' } %></td> -->
      <% end %>
    </tbody>
  </table>

  <div class = "import">
  <h3>Import Players</h3>
  <%= form_tag import_players_path, multipart: true do %>
      <%= file_field_tag :file %> <br>
      <%= submit_tag "Import" %>
  <% end %>
  </div>

  <br>

</div>





